{%extends "polls/base.html"%}
{%block content%}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">
        Очки: {{score.score}}
      </div>
      <div class="card-body">
        <p>
          <form method="post" action="{% url 'polls:test' %}" class="d-flex flex-column align-items-center" >
            {% csrf_token %}
            {%for result in results%}
              {{result.question|safe}} 
              <br><br>
              <input type="hidden" name="category" value="{{result.category}}">
              <input type="hidden" name="question" value="{{result.question}}">
              <div class="btn-group btn-group-toggle m-auto" data-toggle="buttons">
                <button class="btn btn-{%if correct_answer == 'True' %}success{%else%}secondary{%endif%}" type="submit" name="user_answer" value="True">Верно</button>
                  <a class="btn btn-secondary" href="{%url 'polls:test'%}" role="button">Следующий</a>
                <button class="btn btn-{%if correct_answer == 'False' %}danger{%else%}secondary{%endif%}" type="submit" name="user_answer" value="False">Неверно</button>
              </div>
            {%endfor%}
          </form> 
        </p>
      </div> <!-- card body -->
    </div> <!-- card -->
  </div> <!-- col -->
</div> <!-- row -->
{% endblock %}
